node_modules/
dist/
playwright-report/
test-results/
artifacts/
playwright/.auth/
.env
*.log
*.png
*.pptx
src/modules/es-connectors/test-data/google-drive/google-drive.service-account.json
src/modules/es-connectors/test-data/google-drive-2/google-drive-2.service-account.json

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
.cursor/
